.rss__instagram {
    height: 100%;
    width: 100%;
    background: var(--white) no-repeat center center;
    background-size: cover;

    cursor: pointer;

    display: flex;
    flex-flow: column nowrap;
}

.rss__instagramHeader {
    display: flex;
}

.rss__profile {
    height: 5rem;
    border-radius: 100%;
}

.rss__instagramPosts {
    display: flex;
    flex-wrap: wrap;
}

.rss__instagramPost {
    flex: calc((1/3)*100%);
    aspect-ratio: 1 / 1;

    background: var(--white) no-repeat center center;
    background-size: cover;
}

.rss__instagramPost div {
    height: 100%;
    width: 100%;

    background-color: var(--black);
    opacity: 0;

    transition: opacity 0.8s;
    color: var(--white);
}

.rss__instagramPost div:hover {
    opacity: 0.75;
    border-radius: 0.5em;
}