.rss__partners {
    font-family: var(--font-family);
    color: var(--black);
}

.rss__partners-rect {
    height: 200px;
    background-color: var(--transparent-white);
}

.rss__partners-tri {
    background-color: var(--transparent-white);
    height: 100px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0% 100%);
    margin-bottom: -100px;
}

.rss__partners .rss__logoLink-logo {
    height: 100px;
    width: 250px;
}

.rss__partners .toyota {
    background: var(--toyota-color) no-repeat center;
    background-size: contain;
    margin-top: 5px;
}

.rss__partners .hyland {
    background: var(--hyland-color) no-repeat center;
    background-size: contain;
    margin-top: 10px;
}

.rss__partners .usspeedskating {
    background: var(--usspeedskating) no-repeat center;
    background-size: contain;
}

.rss__partners .under-armour {
    background: var(--under-armour) no-repeat center;
    background-size: contain;
    margin-top: 10px;
    height: 80px;
}

.rss__partners h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 0.25em;
    padding-top: 0.5em;
    position: relative;

    z-index: 0;
}

.rss__partners:hover h2 {
    color: var(--white);
}


.rss__partners:hover h2::before {
    text-align: center;
    content: attr(data-title);
    color: #FB258B;
    position: absolute;

    left:0;
    right:0;

    padding-right: 6px;

    margin-left: auto;
    margin-right: auto;

    z-index: -1;
}

.rss__partners:hover h2::after {
    text-align: center;
    content: attr(data-title);
    color: #5025FB;
    position: absolute;

    left:0;
    right:0;
    bottom: 8px;

    padding-left: 4px;

    margin-left: auto;
    margin-right: auto;

    z-index: -2;
}


.rss__partners-rect_logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 700px) {
    
}

@media screen and (max-width: 550px) {
    .rss__partners-rect {
        height: 300px;
    }

    .rss__partners-rect_logos {
        flex-wrap: wrap;
    }

    .rss__partners .rss__logoLink-logo {
        height: 75px;
        width: 187.5px;
    }

    .rss__partners .rss__logoLink {
        padding: 0 0.75em;
    }

    .rss__partners .toyota {
        padding-top: 85px;
    }

    .rss__partners-tri{
        height: 50px;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0% 100%);
    }

    .rss__partners h2 {
        padding-top: 0.15em;
        padding-bottom: 0.1em;
    }
}

@media screen and (max-width: 425px) {
    .rss__partners-rect_logos {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .rss__partners .rss__logoLink-logo {
        height: 75px;
        width: 187.5px;
    }

    .rss__partners-rect {
        height: fit-content;
        padding-bottom: 55px;
    }
}