.rss__article {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background: var(--transparent-white);

    cursor: pointer;

    font-family: var(--font-family);
    color: var(--white);
}

.rss__article-photo {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.rss__article-photo img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.rss__article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    height: 100%;
}

.rss__article-content h3 {
    height: 60px;
    font-size: 24px;
    line-height: 30px;
    overflow: hidden;
    margin-bottom: 0.5em;
}

.rss__article-content p {
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    height: 22px;
    margin-bottom: 0.5em;
}

.rss__article-content_date {
    font-variant: small-caps;
}

.rss__article-content_content {
    height: 66px !important;
}

.rss__article-content_readMore {
    margin-bottom: 0 !important;
}