.rss__article {
    background: var(--transparent-white);
    cursor: pointer;

    width: 100%;
    height: min(100%, 24rem);
    display: flex !important;
    flex-direction: column;
}

.rss__article-photo,
.rss__article-photo img {
    flex-shrink: 0;
    width: 100%;
    height: 12.5rem;   
    background: var(--color-bg);
    object-fit: cover;
}

.rss__article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    height: 100%;
}

.rss__article-content * {
    margin-bottom: 0.3em;
}

.rss__article-content h4 {
    font-size: 1.5rem;
    height: 3.6rem;
    line-height: 1.8rem;
    overflow: hidden;
}

.rss__article-content p {
    font-size: 1.1rem;
    line-height: 1.3rem;
    overflow: hidden;   
}

.rss__article-content_date {
    font-variant: small-caps;
}

.rss__article-content_content {
    height: 3.9rem !important;
}

.rss__article-content_readMore {
    margin-bottom: 0 !important;
}

@media screen and (max-width: 550px) {
    .rss__article-photo,
    .rss__article-photo img {
        height: 15rem;   
    }
    
    .rss__article-content {    
        padding: 1.5rem;
    }
    
    .rss__article-content * {
        margin-bottom: 0.4em;
    }
    
    .rss__article-content h4 {
        font-size: 2rem;
        height: 4.4rem !important;
        line-height: 2.2rem;
        overflow: hidden;
    }
    
    .rss__article-content p {
        font-size: 1.75rem;
        line-height: 1.85rem;
        overflow: hidden;   
    }

    .rss__article-content_content {
        height: 5.55rem !important;
    }
}