.rss__news {
    display: flex;
    flex-direction: column;
}

.rss__news-container {
    display: flex;
    flex-direction: row;
}

.groupA {
    flex: 0.75;
    margin-right: 2rem;
}

.groupA .rss__article-content {
    padding: 1.5rem 2rem;
}

.groupA h4 {
    font-size: 2rem;
    height: auto;
}

.groupA p {
    font-size: 1.5rem;
    line-height: 1.9rem;
}

.groupA .rss__article {
    height: min(100%, 50rem);
}

.groupA .rss__article-photo,
.groupA .rss__article-photo img {
    height: clamp(12.5rem, 100%, 17.5rem);
}

.groupA .rss__article-content_content {
    max-height: 17rem !important;
    height: fit-content !important;
}

.groupB {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: 24rem;
}

.groupB .rss__article-content_organization,
.groupB .rss__article-content_date {
    display: none;
}

@media screen and (max-width: 550px) {
    .desktop {
        display: none !important;
    }
}