.rss__aboutMe {
    position: relative;
}

.rss__aboutMe-photo {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: -webkit-sticky;
    position: sticky;
}

.rss__aboutMe-photo_wrapper {
    align-self: center;
    height: fit-content;

    outline: 6px solid var(--black);
    width: 850px;
    height: 550px;

    z-index: -1;
}

.rss__aboutMe-photo_wrapper img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 701px) {
    .rss__aboutMe-photo_wrapper:hover::before {
        content: '';
        width: 8px;
        height: 562px;
        top: -6px;
        left: -14px;
        background-color: #FB258B;

        position: absolute;
        z-index: -1;
    }

    .rss__aboutMe-photo_wrapper:hover::after {
        content: '';
        width: 862px;
        height: 562px;
        top: 2px;
        right: -14px;
        background-color: #5025FB;

        position: absolute;
        z-index: -2;
    }
    
}

.rss__aboutMe-photo_wrapper.zero {
    transform: rotate(-3deg);
}

.rss__aboutMe-photo_wrapper.one {
    transform: rotate(2deg);
}

.rss__aboutMe-photo_wrapper.two {
    transform: rotate(-2deg);
}

.rss__aboutMe-photo_wrapper.three {
    transform: rotate(1deg);
}

.rss__aboutMe-photo_wrapper .unhover {
    visibility: visible;
}

.rss__aboutMe-photo_wrapper .hover {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.rss__aboutMe-text {
    font-family: var(--font-family);
    color: var(--white);

    height: 100vh;

    display: flex;
    flex-direction: column;

    padding: 0 6em;

    position: relative;

    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
}

.rss__aboutMe-text h2 {
    background-color: var(--white);
    color: var(--black);
    font-size: 70px;
    font-weight: 800;
    line-height: 1;
    mix-blend-mode: lighten;
    padding: 0.25rem 0.3125rem 0.3125rem;
    text-transform: uppercase;

    height: fit-content;
    width: fit-content;
    max-width: 55%;
}

.rss__aboutMe-text h3 {
    color: var(--white);
    font-size: 55px;
    width: fit-content;
    max-width: 55%;
    line-height: 1.2;
    padding-top: 15px;
}

.rss__aboutMe-text.one, .rss__aboutMe-text.three {
    align-items: flex-start;
    text-align: left;
}

.rss__aboutMe-text.one h3, .rss__aboutMe-text.three h3 {
    text-shadow: 2px 2px 0 #FB258B;
}

.rss__aboutMe-text.two, .rss__aboutMe-text.zero {
    align-items: flex-end;
    text-align: right;
}

.rss__aboutMe-text.two h3, .rss__aboutMe-text.zero h3 {
    text-shadow: 2px 2px 0 #5025FB;
}

@media screen and (max-width: 700px) {
    
}

@media screen and (max-width: 550px) {
    .rss__aboutMe-photo_wrapper {
        align-self: center;
        height: fit-content;

        outline: 6px solid var(--black);
        max-width: 425px;
        max-height: 275px;

        width: calc(100% - 25px);
    }
    
    .rss__aboutMe-text {
        padding: 0 2em;
    }

    .rss__aboutMe-text h2 {
        font-size: 45px;
        font-weight: 800;
        line-height: 1;
        mix-blend-mode: lighten;
        padding: 0 5px;
    
        max-width: 110%;
    }

    .rss__aboutMe-text h3 {
        font-size: 35px;
        line-height: 1;
        margin: 10px 0;
        width: fit-content;
        max-width: 100%
    }
    
    .rss__aboutMe-text.one {
        align-items: flex-start;
        text-align: left;
    }
    
    .rss__aboutMe-text.one h3 {
        text-shadow: 2px 2px 0 #FB258B;
    }
    
    .rss__aboutMe-text.two {
        align-items: flex-end;
        text-align: right;
    }
    
    .rss__aboutMe-text.two h3 {
        text-shadow: 2px 2px 0 #5025FB;
    }
    
    .rss__aboutMe-text.three {
        align-items: flex-start;
        text-align: left;
    }
    
    .rss__aboutMe-text.three h3 {
        text-shadow: 2px 2px 0 #FB258B;
    }

}