.rss__aboutMe {
    position: relative;
}

.rss__aboutMe-photo {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: -webkit-sticky;
    position: sticky;
}

.rss__aboutMe-photo_wrapper {
    align-self: center;
    height: fit-content;

    outline: 0.45rem solid var(--black);
    max-width: 53.125rem;
    height: 34.375rem;

    z-index: -1;
}

.rss__aboutMe-photo_wrapper img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

.rss__aboutMe-photo_wrapper.zero {
    transform: rotate(-3deg);
}

.rss__aboutMe-photo_wrapper.one {
    transform: rotate(2deg);
}

.rss__aboutMe-photo_wrapper.two {
    transform: rotate(-2deg);
}

.rss__aboutMe-photo_wrapper.three {
    transform: rotate(1deg);
    width: 53.125rem;
}

.rss__aboutMe-text {
    height: min(100vh, 100vw);

    display: flex;
    flex-direction: column;

    position: relative;

    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
}

.rss__aboutMe-text h2 {
    background-color: var(--white);
    color: var(--black);
    font-size: 4.375rem;
    font-weight: 800;
    line-height: 1;
    mix-blend-mode: lighten;
    padding: 0.25rem 0.3125rem 0.3125rem;
    text-transform: uppercase;

    height: fit-content;
    width: fit-content;
}

.rss__aboutMe-text h3 {
    text-shadow: 0.125rem 0.125rem 0 var(--white);
    font-size: 3.45rem;
    width: fit-content;
    line-height: 1.2;
    padding-top: 0.9rem;
}

.rss__aboutMe-text.one, .rss__aboutMe-text.three {
    align-items: flex-start;
    text-align: left;
}

.rss__aboutMe-text.one h3, .rss__aboutMe-text.three h3 {
    color: var(--blue);
}

.rss__aboutMe-text.two, .rss__aboutMe-text.zero {
    align-items: flex-end;
    text-align: right;
}

.rss__aboutMe-text.two h3, .rss__aboutMe-text.zero h3 {
    color: var(--pink);
}

@media screen and (max-width: 550px) {
    .rss__aboutMe-text h2 {
        font-size: 4rem;
        padding: 0.25rem 0.3125rem;
    }
    
    .rss__aboutMe-text h3 {
        font-size: 2.85rem;
        padding-top: 0.7rem;
    }    
}