@media screen and (min-width: 701px) {
    .rss__pivot {
        position: absolute;
        width: 1920px;
        height: 1302px;
        left: -43px;
        top: -342px;
        background: url(../../../public/img/pivot.png);
    }
}

@media screen and (max-width: 700px) {
    
}

@media screen and (max-width: 550px) {
    .rss__pivot {
        position: absolute;
        height: 90vh;
        width: 100%;
        top: 10vh;
        left: 0;

        clip-path: polygon(75% 0, 100% 0, 100% 100%, 0% 100%, 0 85%);

        background: url(../../../public/img/pivot-mobile.jpg), #dde2e6;
        background-size: cover;
        background-repeat: no-repeat;
    }
}