.rss__titleCard {
    width: 100%;
    height: 80vh;
    margin-bottom: 20vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    color: var(--black);

    filter: invert(0.45);
    mix-blend-mode: multiply;
    isolation: isolate;
}

.rss__pivot {
    height: 100vh;
    width: 100%;

    background: var(--white) url('./pivot.jpg') no-repeat fixed center center;  
    background-size: cover;

    scroll-snap-align: start;
}

.rss__coverUp {
    transition: opacity 1.5s;

    position: absolute;
    width: 100%;
}

.image {
   opacity: 1;
}

.color {
    opacity: 0;
}

@media screen and (max-width: 550px) {
    .rss__titleCard {
        height: 100vh;
    }

    .rss__pivot {
        background-position: 65% center;

        background-image: url('./pivot-mobile.jpg');
    }
}