.rss__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 5rem;
}

.rss__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rss__navbar-logo {
    justify-content: flex-start;
}

.rss__navbar-logo img {
    width: 113px;
    height: 66px;
}

.rss__navbar-links_container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    width: 830px;
    
}

.rss__navbar-links_container a {
    color: var(--white);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 59px;

    display: block;
    text-align: center;

    cursor: pointer;

    z-index: 1;
}

.rss__navbar-menu {
    display: none;
}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 550px) {
    .rss__navbar {
        padding: 2em;

        justify-items: flex-start;
    }

    .rss__navbar-links {
        width: 0;
        flex: none;
    }

    .rss__navbar-logo img {
        width: 84.75px;
        height: 49.5px;
    }

    .rss__navbar-links_container {
        display: none;
    }

    .rss__navbar-menu {
        display: block;
    }

    .rss__navbar-menu_container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        font-weight: 700;
        
        text-align: end;
        background: var(--black);
        padding: 1rem 2rem;
        position: absolute;
        right: 1rem;
        top: 80px;
        margin-top: 1rem;
        min-width: 210px;
        border-radius: 5px;
        z-index: 100;
    }

    .rss__navbar-menu_container a {
        font-size: 30px;
        color: var(--white);
        font-family: var(--font-family);
    }
    
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}