.rss__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 5rem;
}

.rss__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rss__navbar-logo {
    justify-content: flex-start;
}

.rss__navbar-logo img {
    width: 113px;
    height: 66px;
}

.rss__navbar-links_container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    width: 830px;
    
}

.rss__navbar-links_container a {
    color: var(--white);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 59px;

    display: block;
    text-align: center;

    cursor: pointer;

    z-index: 1;
}

.rss__navbar-menu {
    display: none;
}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 550px) {
    .rss__navbar {
        padding: 2em;
    }

    .rss__navbar-logo img {
        width: 84.75px;
        height: 49.5px;
    }

    .rss__navbar-links_container {
        display: none;
    }

    .rss__navbar-menu {
        display: block;
    }
    
}