.rss__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 6rem;

    color: rgba(0, 0, 0, .7);
}

.rss__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rss__navbar-logo {
    justify-content: flex-start;
}

.rss__navbar-logo img {
    width: 7rem;
    height: 4.125rem;
    z-index: 1;
    position: relative;
}

.rss__navbar-links_container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    width: 45rem;
}

.rss__navbar-links_container a {
    font-size: 2rem;

    display: block;
    text-align: center;

    cursor: pointer;

    z-index: 1;
}

.rss__navbar-menu {
    display: none;
}

@media screen and (max-width: 700px) {

  .rss__navbar-links {
      width: 0;
      flex: none;
  }

  .rss__navbar-links_container {
      display: none;
  }

  .rss__navbar-menu {
      display: block;
      z-index: 1;
  }

  .rss__navbar-menu_container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;

      text-align: end;
      background: var(--black);

      padding-top: 5rem;
      padding-bottom: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      position: absolute;
      right: 5rem;
      top: 2rem;
      width: 20rem;
      font-size: 2rem;
      border-radius: 0.25rem;
      z-index: 0;
  }
    
}

.slide-bottom {
	-webkit-animation: slide-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-2rem);
              transform: translateY(-2rem);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-2rem);
              transform: translateY(-2rem);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
  