.rss__sidebar {
    height: 32rem;
    width: fit-content;
    padding-top: 0 !important;
    padding-right: 0 !important;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rss__sidebarElement {
    display: flex;
    flex-direction: column;
    position: relative;

    height: 10rem;
    line-height: 1.2;

    cursor: pointer;

    color: var(--transparent-white);
}

.rss__sidebarElement p {
    color:rgba(187, 187, 187, 0.18);
}
.rss__sidebarElement:hover p {
    color: #BBBBBB;
}

.rss__sidebarElement:hover {
    top: -0.625rem;
    color: var(--white);
}

.rss__sidebarElement:hover h3 {
    font-weight: 800;
    font-size: 3.125rem;

    z-index: 0;
}

.rss__sidebarElement:hover h3::before {
    content: attr(data-title);
    color: var(--pink);
    position: absolute;
    left: -0.2rem;

    z-index: -1;
}

.rss__sidebarElement:hover h3::after {
    content: attr(data-title);
    color: var(--blue);
    position: absolute;
    top: 0.2rem;
    left: 0.1rem;

    z-index: -2;
}

.rss__sidebarElement:hover h4 {
    font-weight: 600;
    font-size: 2.25rem;
}  

.rss__sidebarElement-line {
    width: 20rem;
    height: 0.125rem;

    margin-bottom: 0.5rem;

    flex-shrink: 0;

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(202, 202, 202, 0.18) 0%, rgba(202, 202, 202, 0) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(202, 202, 202, 0.18) 0%, rgba(202, 202, 202, 0) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(202, 202, 202, 0.18) 0%, rgba(202, 202, 202, 0) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CACACA', endColorstr='#CACACA', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(202, 202, 202, 0.18) 0%, rgba(202, 202, 202, 0) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(202, 202, 202, 0.18) 0%, rgba(202, 202, 202, 0) 100%);
}

.rss__sidebarElement:hover .rss__sidebarElement-line {
    width: 20rem;
    height: 0.125rem;

    margin-bottom: 0.625rem;

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 0) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 0) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 0) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CACACA', endColorstr='#CACACA', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 0) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 0) 100%);
}

.scale-up-center:hover {
	-webkit-animation: scale-up-center 0.1s ease-in-out both;
	        animation: scale-up-center 0.1s ease-in-out both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
@keyframes scale-up-center {
0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}
