.rss__sidebar {
    margin: 0 6em;

    width: 650px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
}

.rss__sidebarElement {
    display: flex;
    flex-direction: column;
    position: relative;

    font-family: var(--font-family);

    max-height: 158px;

    cursor: pointer;
}

@media screen and (min-width: 701px) {

.rss__sidebarElement:hover {
    top: -10px;
}

.rss__sidebarElement:hover h2 {
    font-weight: 800;
    font-size: 50px;
    line-height: 65px;

    color: var(--white);

    z-index: 0;

    margin-bottom: 15px;
}

.rss__sidebarElement:hover h2::before {
    content: attr(data-title);
    color: #FB258B;
    position: absolute;
    left: -4px;

    z-index: -1;
}

.rss__sidebarElement:hover h2::after {
    content: attr(data-title);
    color: #5025FB;
    position: absolute;
    top: 4px;
    left: 2px;

    z-index: -2;
}

.rss__sidebarElement:hover .rss__sidebarElement-description {
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
}

.rss__sidebarElement:hover .rss__sidebarElement-description h3 {
    color: var(--white);
}

.rss__sidebarElement:hover .rss__sidebarElement-description p {
    color: #BBBBBB;
}

.rss__sidebarElement:hover .rss__sidebarElement-line {
    width: 280px;
    height: 2px;

    position: absolute;
    top: 70px;

    margin-bottom: 10px;

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 0) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 0) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 0) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CACACA', endColorstr='#CACACA', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 0) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 0) 100%);
}

.scale-up-center:hover {
	-webkit-animation: scale-up-center 0.2s ease-in-out both;
	        animation: scale-up-center 0.2s ease-in-out both;
}

}

.rss__sidebarElement h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;

    color: var(--transparent-white);
}

.rss__sidebarElement-description {
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
}

.rss__sidebarElement-description h3 {
    color: var(--transparent-white);
}

.rss__sidebarElement-description p {
    color:rgba(187, 187, 187, 0.18);
}

.rss__sidebarElement-line {
    width: 200px;
    height: 2px;

    margin-bottom: 10px;

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(202, 202, 202, 0.18) 0%, rgba(202, 202, 202, 0) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(202, 202, 202, 0.18) 0%, rgba(202, 202, 202, 0) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(202, 202, 202, 0.18) 0%, rgba(202, 202, 202, 0) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CACACA', endColorstr='#CACACA', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(202, 202, 202, 0.18) 0%, rgba(202, 202, 202, 0) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(202, 202, 202, 0.18) 0%, rgba(202, 202, 202, 0) 100%);
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

@media screen and (max-width: 700px) {
      
}

@media screen and (max-width: 550px) {
    .rss__sidebar {
        display: none;
    }
}