.rss__sponsorSocial {
    display: flex;
    flex-direction: row;

    align-items: center;

    position: absolute;
    bottom: 1em;
    right: 1em;
}

.rss__sponsorSocial-sponsors, .rss__sponsorSocial-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rss__sponsorSocial-line {
    height: 65px;
    width: 2px;

    background: var(--gradient-fill-ff);
    background: var(--gradient-fill-sa);
    background: var(--gradient-fill-op);
    filter: var(--gradient-fill-ie-f);
    background: var(--gradient-fill-ie-b);
    background: var(--gradient-fill-gl);
}

.rss__sponsorSocial-sponsors {
    width: 400px;
}

.rss__sponsorSocial-socials {
    width: 180px;
}

.rss__sponsorSocial-sponsors .rss__logoLink-logo {
    height: 55px;
    width: 200px;
}

.rss__sponsorSocial-socials .rss__logoLink-logo {
    height: 50px;
    width: 50px;
}

.rss__sponsorSocial .toyota {
    background: var(--toyota) no-repeat center;
    background-size: contain;
    margin-top: 5px;
}

.rss__sponsorSocial .hyland {
    background: var(--hyland) no-repeat center;
    background-size: contain;
    margin-top: 10px;
}

.rss__sponsorSocial .youtube {
    background: var(--youtube) no-repeat center;
    background-size: contain;
    margin-top: 2.5px;
}

.rss__sponsorSocial .strava {
    background: var(--strava) no-repeat center;
    background-size: contain;
}

.rss__sponsorSocial .instagram {
    background: var(--instagram) no-repeat center;
    background-size: contain;

    margin-top: 2.5px;;
}

@media screen and (max-width: 700px) {
    
}

@media screen and (max-width: 550px) {
    .rss__sponsorSocial {
        display: none;
    }
}