.rss__instagram, .rss__strava {
    height: 100%;
    width: 100%;
    background: var(--white) no-repeat center center;
    background-size: cover;

    cursor: pointer;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    font-family: Arial, Helvetica, sans-serif;

    overflow: hidden;

    border-radius: 0.5em;
}

.rss__instagram div, .rss__instagram p, .rss__strava div, .rss__strava p{
    font-size: 1rem;
}

.rss__instagramHeader {
    margin: 1rem;

    flex: 1;
}

.rss__instagramInfo {
    flex: 1;

    gap: 0.5rem;
}

.rss__profile {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    margin-right: 1rem;

    background: var(--white) no-repeat center center;
    background-size: cover;
}

.rss__name, .rss__numbers b {
    font-size: 1.2rem !important;
    font-weight: 800;
}

.rss__followButton {
    color: var(--white);
    border-radius: 0.5rem;
    padding: 0.75rem;
}

.rss__instagram .rss__followButton {
    background-color: #1877F2;
}

.rss__strava .rss__followButton {
    background-color: #FC5200;
}

.rss__instagramPosts {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;

    margin: 0 0.5em 0.5em 0.5em;

    flex-shrink: 1;
}

.rss__instagramPost {
    flex: calc(((1/3) * 100%) - 0.3rem);
    aspect-ratio: 1 / 1;

    background: var(--white) no-repeat center center;
    background-size: cover;
    border-radius: 0.2em;

    flex-shrink: 1;
}

.rss__instagramPost div {
    height: 100%;
    width: 100%;

    background-color: var(--black);
    opacity: 0;

    transition: opacity 0.8s;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-content: center;
}

.rss__instagramPost div:hover {
    opacity: 0.75;
}

.rss__instagramPost div svg {
    width: 2rem;
}