* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--black);
    font-family: var(--font-family);
    color: var(--white);
}

.page_wrapper {
    height: 100vh;
}

.black {
    color: var(--black);
}

.white {
    color: var(--white);
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 3% 3%, rgba(53, 50, 50, 1) 0%, rgba(29, 25, 25, 1) 75%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 3%, rgba(53, 50, 50, 1) 0%, rgba(29, 25, 25, 1) 75%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 3%, rgba(53, 50, 50, 1) 0%, rgba(29, 25, 25, 1) 75%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 3%, rgba(53, 50, 50, 1) 0%, rgba(29, 25, 25, 1) 75%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 3%, rgba(53, 50, 50, 1) 0%, rgba(29, 25, 25, 1) 75%);
}

h1, .h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.pivot {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    max-height: calc(100vw/1.95);
    width: 100%;
    background-image: url('./pivot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 550px) {
    h1, .h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 3.5rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }
    
    h4 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.5rem;
    }

    .pivot {
        max-height: 100vh;
        background-position: 65% center;

        background-image: url('./pivot-mobile.jpg');
    }

    .page_wrapper {
        height: 100vh;
    }

}