* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--white);
    font-family: var(--font-family);
    color: var(--black);
}

.page_wrapper {
    height: 100vh;
}

.black {
    color: var(--black);
}

.white {
    color: var(--white);
}

a {
    color: unset;
    text-decoration: none;
}

.pivot {
    height: 100vh;
    max-height: calc(100vw/1.95);
    width: 100%;
    background-image: url('./pivot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.gradient__bg {
    height: fit-content;
    width: 100%;

    background: var(--white);
    background: linear-gradient(180deg, #fff 0%, var(--white) 10%, var(--tan) 50%); 
}

h1, .h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

@media screen and (max-width: 550px) {
    h1, .h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 3.5rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }
    
    h4 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.5rem;
    }

    .pivot {
        max-height: 100vh;
        background-position: 65% center;

        background-image: url('./pivot-mobile.jpg');
    }

    .page_wrapper {
        height: 100vh;
    }

}