* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--black);
    font-family: var(--font-family);
    color: var(--white);
}

.page_wrapper {
    height: 100vh;
}

.serif {
    font-family: var(--serif-family);
}

.black {
    color: var(--black);
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 3% 3%, rgba(53, 50, 50, 1) 0%, rgba(29, 25, 25, 1) 75%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 3%, rgba(53, 50, 50, 1) 0%, rgba(29, 25, 25, 1) 75%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 3%, rgba(53, 50, 50, 1) 0%, rgba(29, 25, 25, 1) 75%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 3%, rgba(53, 50, 50, 1) 0%, rgba(29, 25, 25, 1) 75%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 3%, rgba(53, 50, 50, 1) 0%, rgba(29, 25, 25, 1) 75%);
}

h1, .h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

b, .bold, .bolder {
    position: relative;
    z-index: 0;

    overflow: visible;
    white-space: nowrap;
}

b::before, .bold::before, .bolder::before {
    color: var(--pink);
    content: attr(data-title);
    
    position: absolute;
    left: -0.25rem;
    top: 0;
    z-index: -1;

    overflow: visible;
    white-space: nowrap;
}

b::after, .bold::after, .bolder::after {
    color: var(--blue);
    content: attr(data-title);

    position: absolute;
    left: 0.125rem;
    top: 0.25rem;
    z-index: -2;

    overflow: visible;
    white-space: nowrap;
}

.padding {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.pivot {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    max-height: calc(100vw/1.95);
    width: 100%;
    background-image: url('./pivot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 550px) {
    h1, .h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 3.5rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }
    
    h4 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.5rem;
    }

    .pivot {
        max-height: 100vh;
        background-position: 65% center;

        background-image: url('./pivot-mobile.jpg');
    }

    .page_wrapper {
        height: 100vh;
    }

    .padding {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .bolder::before {
        left: -0.4rem !important;
        top: 0 !important;
    }

    .bolder::after {
        left: 0.25rem !important;
        top: 0.25rem !important;
    }
}