.rss__footer {
    font-family: var(--font-family);
    background-color: var(--color-bg);
    color: var(--white);
    width: 100%;
    height: 300px;
    clip-path: polygon(0% 100px, 100% 0, 100% 100%, 0% 100%);
    padding-top: 80px;
    position: absolute;
}

.rss__footer-columnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 20em;
    padding-top: 25px;
}

.rss__footer-columnContainer_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

.rss__footer-copyright p {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.rss__footer-columnContainer_column_header {
    font-weight: 800;
}

.rss__footer-columnContainer_column p {
    font-size: 20px;
}

.rss__footer-columnContainer_column a {
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    
}

@media screen and (max-width: 550px) {
    .rss__footer {
        height: 220px;
        clip-path: polygon(0% 50px, 100% 0, 100% 100%, 0% 100%);
        padding-top: 30px;
    }

    .rss__footer-copyright p,
    .rss__footer-columnContainer_column p {
        font-size: 16px;
    }

    .rss__footer-columnContainer {
        margin: 0 2em;
    }

    .rss__footer-columnContainer_column {
        text-align: center;
    }
}