.rss__footer {
    height: fit-content;
}

.rss__footer-partners {
    background: var(--transparent-white);

    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0 100%);
    margin-bottom: -8vw;

    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.rss__footer-partners:hover * {
    color: var(--white);
    position: relative;
    z-index: 0;

    overflow: visible;
    white-space: nowrap;
}

.rss__footer-partners:hover *::before {
    color: var(--pink);
    content: attr(data-title);
    
    position: absolute;
    left: -0.125rem;
    top: 1rem;
    z-index: -1;

    overflow: visible;
    white-space: nowrap;
}

.rss__footer-partners:hover *::after {
    color: var(--blue);
    content: attr(data-title);

    position: absolute;
    left: 0.0625rem;
    top: 1.125rem;
    z-index: -2;

    overflow: visible;
    white-space: nowrap;
}

.rss__footer-partners h1 {
    font-size: 3rem;
    padding-top: 1rem;
}

.rss__footer-partners_logos {
    display: flex;
    flex-direction: row;
}

.rss__footer-footer {
    background: #130F0F;

    -webkit-clip-path: polygon(0 8vw, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 8vw, 100% 0, 100% 100%, 0 100%);
    height: calc(8vw + 6rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rss__footer-footer_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    padding-top: 8vw;
    padding-left: 8rem;
    padding-right: 8rem;
}

.rss__footer-footer_links * {
    cursor: pointer;
}

.rss__footer-footer_copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}