.partner-logo {
    width: 18rem;
    height: 7rem;
    margin: 0 1rem 0 1rem;
}

.usspeedskating {
    background: url('../../usspeedskating.svg') no-repeat center;
    background-size: contain;
}

.kauligracing {
    background: url('../../kauligracing.png') no-repeat center;
    background-size: contain;
}

.filipandco {
    background: url('../../filipandco.png') no-repeat center;
    background-size: contain;
}