.rss__titleCard {
    position: absolute;
    width: 20rem;
    height: 15rem;
    left: 45rem;
    top: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rss__titleCard-text h2 {
    margin-bottom: 1rem;
    line-height: 1.1;
}

.rss__titleCard-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 25rem;
}

.rss__titleCard-buttons a{
    font-size: 2rem;
    font-weight: 700;

    border-radius: 0.25rem;

    outline: none;

    cursor: pointer;

    text-align: center;

    background: none;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3.5rem;
    border: 0.125rem solid var(--white);
}

.rss__titleCard-buttons a:hover {
    background-color: var(--transparent-white);
}
