.rss__titleCard {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 50rem;
    top: calc(100vh - 10rem);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rss__titleCard-text h2 {
    font-size: 2.5rem;
}