.rss__titleCard {
    position: absolute;
    width: 518px;
    height: 328px;
    left: 1270px;
    top: 260px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rss__titleCard-text {
    font-family: var(--alt-family);
    font-weight: 700;
    letter-spacing: 0.005em;
}

.rss__titleCard-text h1 {
    font-size: 80px;
    line-height: 94px;
    position: relative;

    color: var(--white);

    z-index: 0;
}

.rss__titleCard-text h1::before {
    content: attr(data-title);
    color: #FB258B;
    position: absolute;
    left: -4px;

    z-index: -1;
}

.rss__titleCard-text h1::after {
    content: attr(data-title);
    color: #5025FB;
    position: absolute;
    top: 4px;
    left: 2px;

    z-index: -2;
}

.rss__titleCard-text h2 {
    font-size: 64px;
    line-height: 76px;

    color: var(--white);

    margin-bottom: 10px;
}

.rss__titleCard-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 450px;
}

.rss__titleCard-buttons a{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;

    border-radius: 2px;
    
    height: 55px;

    outline: none;

    cursor: pointer;

    text-align: center;
}

.rss__titleCard-buttons_about {
    background-color: #FB258B;
    border: none;

    width: 190px;
    position: relative;
    left: -4px;
    z-index: 0;

    color: var(--black);
}

.rss__titleCard-buttons_about::before {
    content: '';
    width: 190px;
    height: 55px;
    background-color: var(--white);
    border-radius: 2px;
    position: absolute;
    top: -1px;
    left: 4px;
    z-index: -1;
}

.rss__titleCard-buttons_about::after {
    content: '';
    width: 190px;
    height: 55px;
    background-color: #5025FB;
    border-radius: 2px;
    position: absolute;
    top: 4px;
    left: 6px;
    z-index: -2;
}

.rss__titleCard-buttons_news {
    background: none;
    width: 220px;
    border: 2px solid var(--white);
    color: var(--white);
}

.rss__titleCard-buttons_news:hover {
    background-color: var(--transparent-white);
}

@media screen and (max-width: 700px) {
    
}

@media screen and (max-width: 550px) {
    .rss__titleCard {
        position: inherit;
        width: 100%;
        height: 200px;
        padding-left: 1em;

        text-align: left;

        justify-content: space-between;
    }

    .rss__titleCard-text h1 {
        padding-top: 0.25em;
        font-size: 65px;
        line-height: 85px;
    }

    .rss__titleCard-text h2 {
        font-size: 50px;
        line-height: 60px;
        z-index: 1;
        position: relative;
    }

    .rss__titleCard-text h1::before {
        right: 4px;
    }
    
    .rss__titleCard-text h1::after {
        padding-top: 0.25em;
        top: 4px;
        right: -2px;
    }

    .rss__titleCard-buttons {
        display: none;
    }
    
}