.rss__titleCard {
    color: var(--black);
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 50rem;
    bottom: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rss__titleCard-text h2 {
    color: rgba(0, 0, 0, 0.9);

    font-size: 2.5rem;
}

@media screen and (max-width: 550px) {
    .rss__titleCard {
        color: var(--white);
        
        left: 0;
        right: 0;
        bottom: 5rem;
        margin: 0 auto;
    }

    .rss__titleCard-text h1 {
        font-size: 5rem;
    }

    .rss__titleCard-text h2 {
        font-size: 3rem;
    }
}