.rss__titleCard {
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    color: var(--black);

    filter: invert(0.45);
    mix-blend-mode: multiply;
    isolation: isolate;
}

@media screen and (max-width: 550px) {
    .rss__titleCard {
        height: 100vh;
    }
}